## GLOBAL DECORATOR
##    This decorator handles a global context, i.e. information which is independent of space.
##    Supports modes: 'dashboard', 'userdir', 'rss'.

#set ($mode     = $params.get("mode"))
#set ($context  = $params.get("context"))
#set ($helper  = $params.get("helper"))
#set ($infoPanelWidth = $params.get("infopanel-width"))
#set ($maxFavouritePages = "20")  ## Change this value to increase the default number of favourite pages displayed on the Dashboard

#infoPanelInitFromParams()

#requireResourcesForContext("global")

<!-- GENERAL PAGE DECORATING BEGINS -->
#assistiveSkipLink("assistive.skiplink.to.dashboard.recent.updates" "dashboard-recently-updated")
<div class="pagebody">
    #parse ( "/template/includes/actionerrors.vm" )

    <div class="dashboard">
        <div class="dashboard-section">
            #if ($mode == "dashboard")
                #parse ("/decorators/includes/dashboard-navigation.vm")
                #requireResourcesForContext("dashboard")
                #rssautodiscovery($action.rssDescriptor)
                #permitSearchEngines()

                <div class="dashboard-group left">
<!-- muutokset alkaa -->
$helper.renderConfluenceMacro("{dash-initfav}")
<div id="hy_dl1">
#set ($left1res=$helper.renderConfluenceMacro("{include:resources:dashboardLeft1}"))
     $left1res
</div> <!-- hy_dl1 -->
<div id="hy_dl2">
#set ($left2res=$helper.renderConfluenceMacro("{include:resources:dashboardLeft2}"))
     $left2res
</div> <!-- hy_dl2 -->
<!-- muutokset loppuu -->
                </div>## left
                <div class="dashboard-group right wiki-content">
<!-- muutokset alkaa -->
<div id="hy_dr1">
#set ($right1res=$helper.renderConfluenceMacro("{include:resources:dashboardRight1}"))
     $right1res
</div> <!-- hy_dr1 -->
<div id="hy_dr2">
#set ($right2res=$helper.renderConfluenceMacro("{include:resources:dashboardRight2}"))
     $right2res
</div> <!-- hy_dr2 -->
<!-- muutokset loppuu -->
                </div>## right
            #else
                #if ($params.get("suppress-default-navigation") != "true")
                <content tag="content-navigation">
                    <div id="navigation" class="content-navigation">
                        <ul class="ajs-menu-bar">
                            #menuMacros_renderButton("system.${mode}.button")
                        </ul>
                    </div>
                </content>
                #end
                <div class="dashboard-group $!mode">
                    $body
                </div>
            #end

            ## INFO PANEL FOR ANY PAGE
            #if ($infoPanelRequired)
            <div style="width: $infoPanelWidth" id="helptd">
                #infoPanel(true true true true)
            </div>
            #end

        </div><!-- .dashboard-section -->
    </div><!-- .dashboard -->
</div>
#parse ( "/breadcrumbs.vm" )

<!-- GENERAL PAGE DECORATING ENDS -->